<div class="row text-center">
  <p>
    <h1>¿Qué desea realizar?</h1>
    <br>
    <br>
  </p>
</div>

<div class="row text-center">
  <div class="col-xs-6">
    <a href="#!/vicerrectorAcademico/cancelarSemAnterior">
      <img alt="ver" class="img-responsive no-large" src="dist/images/cancelar.png" style="width:100%;" />
      <h3 class="hidden-xs">Cancelar Semestre anterior</h3>
      <h5 class="hidden-sm hidden-md hidden-lg">Cancelar Semestre Anterior</h5>
      <hr>
    </a>
  </div>
  <div class="col-xs-6">
    <a href="#!/vicerrectorAcademico/registrarFechas">
      <img alt="ver" class="img-responsive no-large" src="dist/images/fecha.png" style="width:100%;" />
      <h3 class="hidden-xs">Registrar Fechas de Cancelación de Semestre</h3>
      <h5 class="hidden-sm hidden-md hidden-lg">Registrar Fechas de Cancelación de Semestre</h5>
      <hr>
    </a>
  </div>
</div>
<!-- /.row -->
