<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" ng-app="myApp">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Módulo Cancelación de Semestre</title>

    <link href="bower_components/html5-boilerplate/dist/css/normalize.css" rel="stylesheet">
    <link href="bower_components/html5-boilerplate/dist/css/main.css" rel="stylesheet">
    <link href="bower_components/bootstrap-css/css/bootstrap.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">

    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>

    <!--[if lt IE 7]> <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->

    <div ng-view></div>

    <!-- Put custom templates here -->

    <script id="custom.html" type="text/ng-template">
      <div class="form-group">
        <label for="{{::id}}">{{options.templateOptions.label}}</label>
        <input class="form-control" id="{{::id}}" name="{{::id}}" ng-model="model[options.key]"/>
      </div>
    </script>
    <script id="example-directive.html" type="text/ng-template">
      <div class="form-group">
        <label for="{{::id}}">{{options.templateOptions.label}}</label>
        <input class="form-control" id="{{::id}}" name="{{::id}}" ng-model="model[options.key]"/>
      </div>
    </script>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="bower_components/api-check/dist/api-check.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-formly/dist/formly.min.js"></script>
    <script src="bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="app.js"></script>
    <script src="views/home/home.js"></script>

    <script src="views/view2/view.js"></script>

    <script src="views/estudiante/home/view.js"></script>
    <script src="views/estudiante/ver/view.js"></script>
    <script src="views/estudiante/cancelar/view.js"></script>
    <script src="views/estudiante/retiro/view.js"></script>
    <script src="views/estudiante/aplazamiento/view.js"></script>

    <script src="views/consejoFacultad/home/view.js"></script>
    <script src="views/consejoFacultad/verYAprobar/view.js"></script>

    <script src="views/coordinador/home/view.js"></script>
    <script src="views/coordinador/verYAprobar/view.js"></script>

    <script src="views/vicerrectorAcademico/home/view.js"></script>
    <script src="views/vicerrectorAcademico/cancelarSemAnterior/view.js"></script>
    <script src="views/vicerrectorAcademico/registrarFechas/view.js"></script>

    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
  </body>
</html>
