<h1>Ver y Aprobar Solicitudes</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Fecha Solicitud</th>
            <th>Fecha Aprobación</th>
            <th>Id Estudiante</th>
            <th>Motivo</th>
            <th>Motivo Estado Aprobado</th>
            <th>Num Folios</th>
            <th>Observaciones</th>
            <th>Aprobar</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in m">
            <td>{{ row.Id }}</td>
            <td>{{ row.IdTipo.Tipo }}</td>
            <td>{{ row.IdEstado.Estado }}</td>
            <td>{{ row.FechaSolicitud }}</td>
            <td>{{ row.FechaAprobacion }}</td>
            <td>{{ row.IdEstudiante }}</td>
            <td>{{ row.Motivo }}</td>
            <td>{{ row.MotivoEstadoAprobado }}</td>
            <td>{{ row.NumFoliosAnexados }}</td>
            <td>{{ row.Observaciones }}</td>
            <td><span class="btn glyphicon" aria-hidden="true"
              ng-class="{'glyphicon-time':(row.IdEstado.Id=='1'), 'glyphicon-ok':row.IdEstado.Id!='1'}"
              ng-click="change(this, $event)"></span></td>
        </tr>
    </tbody>
</table>
<a class="btn btn-info" href="#!/consejoFacultad">Volver</a>
