<div class="row text-center">
  <p>
    <h1>¿Qué desea solicitar?</h1>
    <br>
    <br>
  </p>
</div>

<div class="row text-center">
  <div class="col-xs-4">
    <a href="#!/estudiante/cancelar">
      <img alt="cancelar" class="img-responsive no-large" src="dist/images/cancelar.png" style="width:100%;" />
      <h3 class="hidden-xs">Solicitar Cancelación de Semetre</h3>
      <h5 class="hidden-sm hidden-md hidden-lg">Solicitar Cancelación de Semetre</h5>
      <hr>
    </a>
  </div>
  <div class="col-xs-4">
    <a href="#!/estudiante/retiro">
      <img alt="retiro" class="img-responsive no-large" src="dist/images/retiro.png" style="width:100%;" />
      <h3 class="hidden-xs">Solicitar Retiro Voluntario Definitivo</h3>
      <h5 class="hidden-sm hidden-md hidden-lg">Solicitar Retiro Voluntario Definitivo</h5>
    </a>
    <hr>
  </div>
  <div class="col-xs-4">
    <a href="#!/estudiante/aplazamiento">
      <img alt="aplazamiento" class="img-responsive no-large" src="dist/images/aplazamiento.png" style="width:100%;" />
      <h3 class="hidden-xs">Solicitar Aplazamiento de Semestre</h3>
      <h5 class="hidden-sm hidden-md hidden-lg">Solicitar Aplazamiento de Semestre</h5>
      <hr>
    </a>
  </div>
</div>
<!-- /.row -->
<div class="row text-center">
  <div class="col-xs-4"></div>
  <div class="col-xs-4">
    <a href="#!/view2">
      <img alt="ver" class="img-responsive no-large" src="dist/images/ver.png" style="width:100%;" />
      <h3 class="hidden-xs">Ver Estado de Solicitudes</h3>
      <h5 class="hidden-sm hidden-md hidden-lg">Ver Estado de Solicitudes</h5>
      <hr>
    </a>
  </div>
  <div class="col-xs-4"></div>
</div>
<!-- /.row -->
