<div class="container">
  <div class="row">
    <h1>Registrar Rango de Fecha Cancelación</h1>
    <formly-form model='m' fields='mFields'></formly-form>
    <button class="btn btn-primary" ng-click="saveFechaCancelacion()" ng-disabled="addTipo_propietarioForm.$invalid">
      Guardar
    </button>
    <button class="btn" data-ng-click="emptyFechaCancelacion()" data-dismiss="modal">
      Cancelar
    </button>
    <a class="btn btn-info" href="#!/vicerrectorAcademico">Volver</a>
  </div>
</div>
